@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
.pull--left {
  float: left; }

.pull--right {
  float: right; }

.clear_fix:after {
  content: "";
  display: table;
  clear: both; }

.inline_block {
  display: inline_block; }

.Application__loadingpage {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

.Application--hide {
  display: none; }

div {
  box-sizing: border-box; }

body, html {
  font: 14px/20px "Lato", Arial, sans-serif;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #e66465, #9198e5); }

main {
  border-radius: 10px;
  width: 800px;
  margin: 20px auto;
  height: 600px; }

::-webkit-scrollbar {
  background-color: #282A31;
  width: 6px; }

::-webkit-scrollbar-thumb {
  background-color: #535862;
  border-radius: 2px;
  width: 5px; }

.menu {
  float: left;
  width: 30%;
  height: 100%;
  background: #282A31;
  overflow: hidden;
  color: #F2F5F8;
  overflow-y: scroll;
  border-radius: 10px 0 0 10px; }
  .menu .heading {
    padding: 10px 0 10px 50px;
    font-weight: 400;
    letter-spacing: 0.5px;
    border-bottom: 1px solid darkgrey;
    border-top: 1px solid darkgrey; }
  .menu .element:hover {
    background: linear-gradient(45deg, #9198e5, #e66465); }
  .menu .element {
    padding: 10px 0 10px 20px;
    position: relative;
    cursor: pointer; }
    .menu .element img {
      border-radius: 100%;
      width: 50px;
      height: 50px;
      display: inline-block;
      border: 3px solid #535862; }
    .menu .element .name {
      display: inline-block;
      position: absolute;
      line-height: 50px;
      width: 150px;
      padding-left: 20px;
      font-size: 1.1em; }
  .menu .create-room {
    color: black; }
  .menu .options .option {
    padding: 10px 0 10px 20px;
    cursor: pointer; }
    .menu .options .option span {
      margin-left: 10px; }
  .menu .options .option:hover {
    background: linear-gradient(45deg, #9198e5, #e66465); }

.chat {
  float: right;
  width: 70%;
  height: 100%;
  background: #F2F5F8;
  position: relative;
  border-radius: 0 10px 10px 0; }
  .chat .with {
    width: 100%;
    height: 15%;
    padding: 10px 0 10px 40px;
    position: relative; }
    .chat .with img {
      width: 65px;
      height: 65px;
      border-radius: 100%;
      border: 4px solid #86BB71; }
    .chat .with .name {
      position: absolute;
      display: inline-block;
      line-height: 70px;
      width: 300px;
      padding-left: 25px;
      font-size: 1.2em;
      font-weight: 600;
      letter-spacing: 0.5px; }
  .chat ::-webkit-scrollbar {
    background-color: #F2F5F8;
    width: 6px; }
  .chat ::-webkit-scrollbar-thumb {
    background-color: #535862;
    border-radius: 2px;
    width: 5px; }
  .chat .history {
    overflow-y: scroll;
    height: 50%;
    padding: 30px;
    border-top: 0.5px solid #535862;
    border-bottom: 0.5px solid #535862; }
    .chat .history .message {
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 15px;
      width: 90%;
      position: relative; }
    .chat .history .message-from-other:after {
      bottom: 100%;
      left: 7%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: #86BB71;
      border-width: 10px;
      margin-left: -10px; }
    .chat .history .message-from-other .message-info {
      margin-bottom: 10px; }
      .chat .history .message-from-other .message-info i {
        color: #94C2ED;
        margin: 0 5px; }
      .chat .history .message-from-other .message-info .time {
        margin-left: 10px;
        opacity: 0.5; }
    .chat .history .message-from-other .message-body {
      background: #94C2ED; }
      .chat .history .message-from-other .message-body:after {
        border-bottom-color: #94C2ED;
        left: 93%; }
    .chat .history .message-from-me {
      background: #86BB71; }
      .chat .history .message-from-me .message-info {
        margin-bottom: 10px; }
        .chat .history .message-from-me .message-info .name {
          float: right;
          margin-right: 55px; }
          .chat .history .message-from-me .message-info .name i {
            color: #86BB71;
            margin: 0 5px; }
        .chat .history .message-from-me .message-info .time {
          margin-left: 265px;
          opacity: 0.5; }
  .chat .input {
    background: white;
    position: absolute;
    bottom: 0;
    padding: 30px;
    width: 100%;
    height: 35%;
    background: #F2F5F8;
    border-radius: 0 0 10px 0; }
    .chat .input textarea {
      width: 90%;
      margin: 0 auto;
      display: block;
      height: 5em;
      font-size: 1.2em;
      resize: none;
      border-radius: 10px;
      padding: 15px; }
    .chat .input .button {
      font-size: 1.3em;
      color: #94C2ED;
      font-weight: 600;
      float: right;
      margin: 10px 15px 0 0;
      cursor: pointer; }


/*# sourceMappingURL=main.css.map*/